.c-city {
  padding: 1em;
  background-color: $main-color;
  border-radius: $radius;
  width: 25rem;
  height: 10rem;
  box-shadow: $shadow;
  position: relative;
  display: flex;
  flex-direction: column;

  > img {
      height: 3rem;
      width: 3rem;
      padding: .5rem;
      position: absolute;
      top: .5rem;
      right: .5rem;
      display: flex;
      cursor: pointer;
      background-position: center center;
      z-index: 5;
  }
  > a {
    > img {
      height: 3rem;
      width: 3rem;
      padding: .5rem;
      position: absolute;
      bottom: .5rem;
      right: .5rem;
      display: flex;
      background-position: center center;
      z-index: 5;
    }
  }
  .temperature {
    font-size: 2.5rem;
    margin: 1.2rem 0;  }
  .city-name {
    font-size: .8em;
    opacity: .7;
  }
}
