.c-search {
  display: flex;
  flex-direction: column;
  width: 25rem;
  z-index: 25;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: $shadow;
  border-radius: $radius;
  &.focus {
    box-shadow: $shadow-white;
  }
  &.have-result {
    border-radius: $radius-top;
  }
  > form {
    width: 100%;
    display: flex;
    height: 3rem;
    border-radius: $radius;
    input[type="text"] {
      text-indent: 1rem;
      border-radius: $radius;
      width: 85%;
      font-size: 1rem;
      border: 0;
      &:focus,
      :active,
      :focus-visible {
        outline: none;
      }
    }
    img {
      width: 15%;
      padding: 0.85rem;
      cursor: pointer;
      border-radius: $radius;
      &:hover {
          background-color: rgb(224, 224, 224);
      }

    }
  }
  > .result {
    background-color: white;
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    &.have-result {
      border-radius: $radius-bottom;
    }
    > li {
      // height: 3rem;
      cursor: pointer;
      padding: 1rem;
      padding: 1rem;
      margin: 0;
      font-size: 1rem;
      list-style: none;
      &.selected {
        background-color: rgb(224, 224, 224);
      }
    }
  }
}
