.search {
  display: flex;
  flex-direction: column;
  width: 25rem;
  z-index: 25;
  position: relative;
  align-items: center;
  box-shadow: $shadow-white;
  background-color: white;

  > form {
    width: 100%;
    height: 3rem;
    display: flex;
    border-radius: $radius;
    input[type="text"] {
      text-indent: 1rem;
      width: 85%;
      font-size: 1rem;
      border: 0;
      &:focus, :active, :focus-visible {
        outline: none;
      }
    }
    img {
      width: 15%;
      padding: .85rem;
    }
  }
  > .result {
    background-color: white;
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    // height: 20rem;
    &.show {
      height: 20rem;
    }
    p {
      height: 3rem;
      padding: 1rem;
      margin: 0;
      font-size: 1rem;
      &:hover {
        background-color: rgb(224, 224, 224);
      }
    }
  }
}
