* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.App #overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}
.App #overlay.show {
  display: block;
}

.container {
  width: 100% !important;
  padding: 0 1rem;
}

.c-home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  align-items: center;
}
.c-home .header {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-home > .cities {
  display: flex;
  width: 100%;
  justify-items: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
}

.c-city {
  padding: 1em;
  background-color: #f0f0f0;
  border-radius: 5px;
  width: 25rem;
  height: 10rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
}
.c-city > img {
  height: 3rem;
  width: 3rem;
  padding: 0.5rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  cursor: pointer;
  background-position: center center;
  z-index: 5;
}
.c-city > a > img {
  height: 3rem;
  width: 3rem;
  padding: 0.5rem;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  display: flex;
  background-position: center center;
  z-index: 5;
}
.c-city .temperature {
  font-size: 2.5rem;
  margin: 1.2rem 0;
}
.c-city .city-name {
  font-size: 0.8em;
  opacity: 0.7;
}

.c-search {
  display: flex;
  flex-direction: column;
  width: 25rem;
  z-index: 25;
  position: relative;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.2);
  background-color: white;
}
.c-search > form {
  width: 100%;
  height: 3rem;
  display: flex;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.c-search > form input[type=text] {
  text-indent: 1rem;
  width: 85%;
  font-size: 1rem;
  border: 0;
}
.c-search > form input[type=text]:focus, .c-search > form input[type=text] :active, .c-search > form input[type=text] :focus-visible {
  outline: none;
}
.c-search > form img {
  width: 15%;
  padding: 0.85rem;
}
.c-search > .result {
  background-color: white;
  position: absolute;
  top: 3rem;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
}
.c-search > .result.show {
  height: 20rem;
}
.c-search > .result > li {
  height: 3rem;
  padding: 1rem;
  margin: 0;
  font-size: 1rem;
  list-style: none;
}
.c-search > .result > li:hover, .c-search > .result > li.selected {
  background-color: rgb(224, 224, 224);
}

.c-city-details {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.c-city-details .days {
  display: flex;
  overflow-x: auto;
  padding: 1em;
  background-color: #f0f0f0;
  border-radius: 5px;
  width: 25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.c-city-details .days > div {
  padding: 1rem;
  border-radius: 5px;
}
.c-city-details .days > div.selected {
  background-color: aqua;
}
.c-city-details .hours {
  display: flex;
  overflow-x: auto;
  padding: 1em;
  background-color: #f0f0f0;
  border-radius: 5px;
  width: 25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.c-city-details .hours > div {
  border-radius: 5px;
  padding: 1rem;
}/*# sourceMappingURL=main.css.map */